.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.content-list-container {
  width: 49%;
}

.content-list-header {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  font-size: 20px;
  background-color: #108043;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.movie-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  background-color: #bbe5b3;
  border: 1px solid black;
  border-radius: 8px;
}

.movie-item-title {
  text-align: center;
  margin-right: 12px;
  font-size: 13pt;
  font-style: italic;
  font-weight: 500;
}

.too-many-results-label {
  text-align: center;
  margin-right: 12px;
  font-size: 13pt;
  font-style: italic;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 12px;
}

.movie-item-image {
  height: 9.5vmax;
  margin-right: 12px;
}

.movie-item-placeholder-image {
  height: 9vmax;
  margin-right: 12px;
}

.base-button {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  font-size: 11pt;
  font-weight: bold;
}

.nominate-button {
  background-color: #006fbb;
  color: white;
}

.nominate-button:disabled {
  background-color: gray;
  color: black;
}

.remove-button {
  background-color: #de3618;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #bbe5b3;
  border: 2px solid black;
  border-radius: 8px;
}

.search-bar {
  background: #f2f1f9;
  border: 2px solid black;
  border-radius: 4px;
  font-size: large;
  padding: 0.5rem;
}

.search-title-label {
  font-size: 18px;
  margin-bottom: 12px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.attribution-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
}

.title-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 12px;
}

.title-label {
  font-size: 50px;
  margin-left: 12px;
  font-weight: bold;
}

.title-logo {
  height: 9vmax;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .title-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .content-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .content-list-container {
    width: 100%;
    margin-bottom: 15px;
  }

  .title-logo-container {
    margin-left: 0px;
  }

  .app-container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .movie-item-title {
    text-align: start;
  }
}
